<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884596857796-47n972v87ng5nc1bm29db99a1f3kniu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884596857796-47n972v87ng5nc1bm29db99a1f3kniu4</string>
	<key>API_KEY</key>
	<string>AIzaSyCg23phh7rzx4ruHIniYoELPS_UJvYVwUU</string>
	<key>GCM_SENDER_ID</key>
	<string>884596857796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signinUpFirebase</string>
	<key>PROJECT_ID</key>
	<string>signup-in-firebase-bbc6d</string>
	<key>STORAGE_BUCKET</key>
	<string>signup-in-firebase-bbc6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884596857796:ios:a9514ae55d0f5411a36291</string>
</dict>
</plist>